.date_time {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.from_date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 41px;
}

.time_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.button_datetime {

    width: 50%;
    background: #7b7c7f;
    border: none;
    border-radius: 4px;
    padding: 9px;
}

@media screen and (min-width: 700px) {
    .time_input {
        width: 50%;
    }

    .button_datetime {

        width: 25%;

    }

}