.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.maxMin {
    width: 80%;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 600;

}

.sessionPart {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-left: 55px;

}

.sessionchild {
    margin-left: 55px;
    font-size: 14px;
    font-weight: bold;
}

.bookmakerheader {
    margin-left: 56px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

._child {
    margin-left: 55px;
    font-weight: bold;
    font-size: 14px;
}

@media screen and (max-width:580px) {
    .sessionPart {
        margin-left: 15px;
    }

    .sessionchild {
        margin-left: 15px;

    }

    .bookmakerheader {
        justify-content: flex-start;
        margin-left: -2px;

    }

    ._child {
        margin-left: 0px;
    }
}