.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 40em) {

    /* body,
    .container {
        height: auto;
        overflow: auto;
    } */
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* table.table-bordered {
    margin-bottom: 15px !important;
} */

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}


.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table {
    table-layout: fixed;
}

@media screen and (max-width: 767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

.table-bordered {
    border: 1px solid #ddd;
}

.table-bordered thead td,
.table-bordered thead th {
    border-bottom-width: 2px;
}



.table-bordered>tbody>tr>td,
.table-bordered th {
    border: 1px solid #ccc !important;
}

.table td,
.table th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.market-name-row-color {
    text-align: center;
    background: rgb(255, 145, 31);
    color: #fff;
    padding: 7px !important;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
    /* font-family: "Roboto" !important; */
}

.score-tbl td,
th {
    padding: 2px !important;
    border-bottom: none !important;
    border-top: none !important;
}

th {
    text-align: inherit;
}

th {
    text-align: left;
}

td,
th {
    padding: 0;
}

*,
:after,
:before {
    box-sizing: border-box;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

table {
    border-collapse: collapse;
}

table {
    border-collapse: collapse;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

user agent stylesheet table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

style attribute {
    font-size: 14px;
}

/* 
body {
    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff; */
/* }

body {
    margin: 0;
    overflow-x: hidden !important;
    overflow-y: auto !important;

    font-size: 13px !important;
    font-weight: 400;
    line-height: 1.471;
    letter-spacing: .3px;
}

body {

    overflow: hidden;
    margin: 0;
    color: #606060;
    background: #eee;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
/* } */

/* body {

    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
} */


/* html {

    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

html {
    -webkit-text-size-adjust: none;
}

html {

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
} */

/* html {
    font-family: "Roboto" !important;
} */

*,
:after,
:before {
    box-sizing: border-box;
}

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
:after,
:before {
    box-sizing: border-box;
}

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    /* width: 0; */
    /* background: transparent; */
}

/* ::-webkit-scrollbar-thumb {
    background: transparent;
} */

.table_COMPLETED {
    width: 800px;
}

@media screen and (min-width:500px) {
    .table_COMPLETED {
        /* width: 100% !important; */
        display: inline-table;
    }
}

.table {
    width: 100% !important;
}

.main_div_completebet {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12%;
}

.main_div_completebet_Refesh {
    border: unset;
    border-radius: 6px;
    padding: 4px 10px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}