@media screen and (min-width: 870px) {
    .slot_game .modal-dialog {
        width: 100%;
        min-width: 100% !important;
    }
}

@media screen and (max-width:700px) {
    .for_Desktop {
        display: none;
        width: 100%;
    }
}

@media screen and (min-width: 700px) {

    .For_mobile {
        display: none;
    }
}

.modal_CrosssIcon {
    position: absolute;
    top: 14px;
    right: 15px;
    color: white;
    font-size: 21px;
    cursor: pointer;
}
.casinoName{
    background-color: rgb(123, 124, 127);
    margin-top: -4px;
    border-radius: 0px 0px 3px 3px;
    font-weight: 600;
    color: whitesmoke;
}