.main_wrap_live-casion {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px 10px;
    flex-wrap: wrap;
    gap: 20px;
}

.complany-logo-warp {
    max-width: 90%;
    height: 33px;
}

.MainBtn_warp {
    width: 29%;
    height: 100px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: #4944442e;
    border-radius: 2px;
    cursor: pointer;
}

@media screen and (max-width:1024px) {

    .MainBtn_warp {
        width: 46% !important;
        height: 75px !important;

    }
}


.complany-name-wrap {
    font-size: 16px;
    font-weight: bold;
}