.home_icon {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.logoimg {
    width: 100px;
    display: flex;
}

.profitepopup {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.logo-name {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    /* margin-left: -10px; */
}

.desktop_logogogo {
    max-width: 180px;
}

/* padding: 0px 42px; */
@media screen and (min-width: 900px) {
    .mobile_logogoggo {
        display: none;
    }

    .desktop_logogogo {
        width: 240px;
    }

}

.css-c7k0wg {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-right: 20px;
    width: 60%;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .desktop_logogogo {
        width: 100px;
    }

}

.css-1yo9slo-MuiToolbar-root {
    padding-left: unset;

}

.home_btn {

    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 7px;
    padding: 12px;

}

.home_lable {
    font-weight: 600;
}

.header_chips_expo {
    /* background: rgb(255, 255, 255); */
    background: rgb(1 45 91);
    text-align: center;
    color: #fff;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.inner_chips span{
    color: #fff;
}

@media (min-width: 800px) {

    .css-1yo9slo-MuiToolbar-root {
        min-height: unset !important;
    }

    .header_chips_expo {
        padding: 4px;
        /* background: rgb(255, 255, 255); */
        background: rgb(1 45 91);
        text-align: center;
        font-size: 13px;
        color: #fff;
    }

    .main_header {
        margin: 0px 0px 21px;
        background: #012d5b;
    }
}


.header_inner {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 5px 0px 0px;
}

.inner_chips {
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.css-7e0s21-MuiPaper-root-MuiAppBar-root {

    box-shadow: unset !important
}

.Username_chip {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.banck_btn_for_home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 10px;
    background-color: #dc143c;
    border: unset;
    border-radius: 5px;
    color: white;
    gap: 5px;
    cursor: pointer;
}