.outer_body_pass {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 40%;
    margin: auto;
}

.inner_body_pass {

    width: 90%;
    gap: 10px;
    background-color: #7b7c7f;
    padding: 6%;
    border-radius: 14px;

}

.change_pass {
    font-size: 18px;
    color: white;
    font-weight: 600;
    padding: 0px 0px 25px;
    letter-spacing: 2px;
}

.login_text_field {
    background-color: #fff;
    font-size: 14px !important;
    letter-spacing: 1.5px;
    border: none !important;
    border-radius: 8px !important;
    color: #848484 !important;
    height: 40px;
    width: 100%;
    font-weight: 600;
}

.main_div {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    gap: 20px
}

@media screen and (max-width:900px) {
    .outer_body_pass {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        width: 100%;
        margin: auto;
    }

    /* 
    .inner_body_pass {
        width: 100%;
    } */
}

.wwwpurp_btn {
    color: #fff !important;
    border-radius: 30px !important;
    font-size: 12px !important;
    letter-spacing: 2px;
    background-color: #dc143c !important;
    border: 1px solid #dc143c !important;
    margin-top: 4%;
    padding: 4%;
}