.pandloss_maindiv {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-weight: 600;
}

.pandloss_maindivDate_contamer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;

}

@media screen and (min-width:1024px) {
    .pandloss_maindivDate_contamer {
        width: 35%;

    }
}

.padddddd {
    padding: 10px !important;
    font-size: 14px;
}

.pandloss_maindiv_Date {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.bttnttttntntn {
    border-radius: 5px;
    padding: 5px 40px;
    background-color: #babbbd;
    border: unset;
    /* color: white; */
    cursor: pointer;
}

.bttnttttntntn:hover {
    background-color: #1565c0 !important;
}

.content-top-padding.row {
    overflow: scroll;
}

.content-top-padding {
    width: 100%;
}

.Account_statement_type_and_search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 13px;
}


.Account_statement_Selector {
    padding: 6px;
    border-radius: 5px;
    width: 85%;
    color: rgb(81, 79, 79);
    font-size: 15px;
    width: 47%;
}

.Account_statement_Selector_search {
    padding: 6px;
    border-radius: 5px;
    width: 85%;
    color: rgb(81, 79, 79);
    font-size: 15px;
    width: 42%;
}

.search_new_datatatat {
    padding: 7px 75px;
    border-radius: 5px;
    width: 85%;
    color: black;
    background-color: #c9c9c9;
    font-size: 15px;
    border: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search_new_datatatat:hover {
    background-color: #1565c0 !important;
}

@media screen and (max-width :1024px) {
    .search_new_datatatat {
        padding: 7px 57px;
        border-radius: 5px;
        width: 85%;
        color: black;
        background-color: #c9c9c9;
        font-size: 15px;
        border: unset;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}