.match-bets-old {
    color: #fff;
    font-size: 13px;
    margin-top: -5px;
    text-align: center;
   
}

.table>thead {
    vertical-align: bottom;
}
.lgaai {
    background-color: #002d5b!important;
    text-align: center;
}

.match-bets-old thead tr th {
    color: #fff;
    font-weight: 900;
    line-height: 1em;
    padding: 8px !important;
}
.table>:not(caption)>*>* {
    background-color: transparent;
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px transparent;
    padding: 0.5rem;
}
.table>tbody {
    vertical-align: inherit;
}
.align-items-center {
    align-items: center!important;
}
.justify-content-center {
    justify-content: center!important;
}
.d-flex {
    display: flex!important;
    padding: 10px !important;
}
table {
    border-collapse: collapse;
    caption-side: bottom;
}
.m-0 {
    margin: 0!important;
}
tbody, td, tfoot, th, thead, tr {
    border: 0 solid;
    border-color: inherit;
}