.App {
  text-align: center;
}

body {
  background-color: #e9e9e9;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  text-decoration: none;
  color: unset;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

:root {
  scrollbar-color: transparent !important;
  scrollbar-width: 0 !important;
}

html {
  overflow: hidden;
  width: 100%;
}

body {
  height: 100vh;
  /* position: fixed;  */
  overflow-y: scroll;
  /* font-family: Roboto,serif!important; */
}

main {
  /* min-height: 100vh; */
  /* min-width: 100vw; */
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* main {
  background: #ddd;
} */

/* .css-1mt30ox {
  padding-top: unset !important
} */

@media screen and (min-width:900px) {
  .padding_for_desktop {
    padding: 0px 0px 50px 0px
  }
}